@charset "gb2312";
a {	text-decoration:none;
}
.border {
	border: 1px dashed #999;
}

.td_bottom {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-right-color: #999;
	border-bottom-color: #999;
}
.td_right {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999;
}
